<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>got it</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round", :id =>  "signup", :style => "border:1px solid red;box-shadow:10px;"    %>
<%= link_to "google", 'http://google.com'  %>